<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Edit Budget Item</title>
  </head>
  <body>
    <div class="align-middle">
    <div class="text-center">  
    <div class="container-fluid">
    <div style="background-color: blanchedalmond">
    <div style="border-style: solid;">
        
    <h1>Edit Budget Item</h1>
    <form action="/budget/edit/<%= data._id %>" method="POST">
      Date: <input type="text" name="date" value="<%= data.date %>"/><br/>
      Name: <input type="text" name="name" value="<%= data.name %>"/><br/>
      Amount: <input type="number" name="amount" value="<%= data.amount %>"/><br/>
      <input type="submit" value="Update"/>
    </form>
  

</div>
</div>
</div>
</div>
</div>
</body>
</div>

</html>


